[Unit]
Description=skkserv-scala

[Service]
ExecStart=java -Xmx48M -jar __PATH__
Restart=always

[Install]
Alias=skkserv-scala
WantedBy=default.target
